
.container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body {
    width: 90vw;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.logo {
    width: 20vw;
    justify-content: center;
    align-items: center;
    // background-color: beige;
    display: flex;
}

.comp-name {
    font-weight: bold;
    font-size: 26px;
    color: #eb662b;
}

.search {
    width: 30vw;
    min-height: 24px;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: baseline;
    padding: 10px;
}

.search > span {
    align-content: flex-end;
    justify-content: flex-end;
    color: gray;
}
.nav{
    width: 40vw;
    height: auto ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 40px;
    margin-right: 40px;
}

.nav-item{
    padding: 10px;
    margin: 4px;
    // border: 1px solid black;
    border-radius: 14px;
}

.nav-item:hover{
    background-color: #eb662b;
    color: white;
}

.discount {
    width: 90vw;
    margin: 50px 50px;
    min-height: 400px;
    background-size: 100%;
    background-image: url('../assets/discount.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin: 0 auto;
    }
    .right {
        width: 50%;
        height: 100%;
        // background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .discount-text {
        width: 60%;
        margin: 0 auto;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 40px;
        .small-text {
            display: block;
            font-size: 16px;
            color: gray;
        }   
        .highlight {
            color: #eb662b;
        }   
    }
    .discount-button {
        width: 200px;
        height: 50px;
        width: 60%;
        margin: 0 auto;
        background-color: #eb662b;
        border: none;
        color: white;
        border-radius: 10px;
        font-size: 22px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.popular-things {
    width: 90vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .name {
            font-weight: bold;
            font-size: 28px;
        }
        .more {
            color: gray;
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .col-1 {
            width: 30%;
            display: flex;
            flex-direction: column;
            // background-color: #f0f0f0;
    
            .cruise {
                background-image: url("../assets/cruise.png");
                width: 80%;
                min-height: 340px;
                padding-right: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 20px;
            }
        }
        .col-2 {
            width: 40%;
        }
        .col-3 {
            width: 30%;
        }
    }
}